@import 'config.scss';

.back-button {
	margin-left: 75px;
	margin-top: 50px;
	border: none;
	padding: 16px 35px;
	background-color: $dark-blue;
	border-radius: 5px;
	color: white;
	box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}

.country-info-container {
	color: white;
	display: flex;
	margin-top: 50px;
	margin-left: 75px;
	font-weight: 300;
}

.title {
	font-weight: 600;
}

.info-column-header {
	font-size: 24px;
	font-weight: 700;
}

.main-column-left {
	max-width: 600px;
	height: auto;
	margin-right: 30px;
}

.main-column-right {
	margin-left: 20px;
}

.info-column-container {
	display: flex;
	margin-bottom: 30px;
	margin-top: 40px;
}

.info-column-left {
	margin-right: 20px;
}

.info-column-left > p {
	margin-bottom: 10px;
}

.info-column-right > p {
	margin-bottom: 10px;
}

.info-column-right {
	margin-left: 20px;
}

.border-countries {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	flex-wrap: wrap;
	margin-right: 100px;
}
