@import 'config.scss';
.card-details {
	color: white;
}

a {
	text-decoration: none;
}

// Contains the entire card including the image and the card details
.card-container {
	margin-bottom: 100px;
	border-radius: 5px;
	background-color: $dark-blue;
	box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}

// Contains info about a country
.card-details {
	width: 320px;
	padding: 10px;
}

#card-details-header {
	margin-bottom: 15px;
}

.card-info {
	font-weight: 300;
	font-size: 15px;
	margin-bottom: 10px;
}

.card-info-span {
	font-weight: 600;
}
