@import 'config';

.home-page-flag {
	width: 320px;
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.display-flex-container {
	display: flex;
	flex-direction: row;
	width: fit-content;
	height: fit-content;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-right: 150px;
	padding-left: 150px;
	border-radius: 10px;
}
