@import 'config';

.light-mode {
	background: white !important;
	border-radius: 5px;
	color: rgb(17, 21, 23) !important;
}

.light-mode::placeholder {
	color: rgb(17, 21, 23) !important;
}

.light-mode:focus {
	color: rgb(17, 21, 23);
	font-size: 15px;
	padding-left: 10px;
	font-weight: 400;
}

.filter-option.light-mode:hover {
	background-color: #eeeeee !important;
	border-radius: 0 !important;
}

#search-filter-container {
	display: flex;
	justify-content: space-between;
}

.search-div {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	width: fit-content;
	height: 50px;
	box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}

.filter-div {
	float: right;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 100px;
	width: fit-content;
	height: 50px;
	box-shadow: 0 0 5px rgb(0 0 0 / 15%);
	z-index: 1;
}

.filter-list {
	background-color: $dark-blue;
	border-radius: 5px;
	margin-top: 10px;
	// padding-left: 20px;
	// padding-top: 15px;
	box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px;
}

.filter-list:hover {
	cursor: pointer;
}

.filter-option {
	list-style-type: none;
	color: white;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-top: 10px;
}

.filter-option:hover {
	background-color: #4b5763;
}

.search-span {
	background-color: $dark-blue;
	font-size: 28px;
	color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom: 10px;
}

#search-icon {
	margin-left: 20px;
	position: relative;
	top: 7px;
}

.search-input {
	background-color: $dark-blue;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	border: none;
	width: 400px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	font-size: 15px;
}

.filter-button {
	background-color: $dark-blue;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	width: 200px;
	border-radius: 5px;
	font-size: 15px;
	text-align: left;
	padding-left: 20px;
}

.filter-button:hover {
	cursor: pointer;
}

.search-input::placeholder {
	color: white;
	font-size: 15px;
	padding-left: 10px;
	font-weight: 400;
}

.search-input:focus {
	color: white;
	font-size: 15px;
	font-weight: 400;
	outline: none;
}
