@import 'config';
#search-div {
	margin: 35px 50px;
}

#search-span {
	background-color: $dark-blue;
	font-size: 28px;
	color: white;
	border-radius: 5px;
}

#search-input {
	background-color: $dark-blue;
	padding-top: 15px;
	padding-left: 15px;
	border: none;
	width: 400px;
	border-radius: 5px;
}

#search-input::placeholder {
	color: white;
	font-size: 15px;
}
